@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
.challenge-section {
    color: #d3d0ce;
    font-family: Bangers, italic;
    font-size: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
}

@media (max-width:800px) {
    .challenge-section {
        margin-top: 30px;
        font-size: 45px;
        margin-top: 30px;
    }
}